body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    overflow-x: hidden;
}
.body-font {
    font-family: 'Quicksand', sans-serif;
}
.head-bg {
    position: absolute;
    height: 750px;
    overflow: hidden;
    width: 100%;
}
.head-bg1 {
    position: absolute;
    margin: 0;
    width: 48%;
}
.head-bg1_img {
    width: 100%;
}
.wrapper {
    position: relative;
}
.head {
    margin-bottom: 150px;
}
.head-wrap {
    margin-bottom: 150px;
}
.wrap {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}
.header {
    padding-top: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_link {
    width: 168px;
}
.menu-link {
    color: #1B1B1B;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding-left: 40px;
    text-decoration: none;
}
.menu-link:hover{
    color: #006D77;
    text-decoration: underline;
}
.head-content {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head-content_text {
    width: 60%;
    margin-right: 20px;
}
.head-content__title {
    font-size: 36px;
    color: #006D77;
    font-weight: 500;
    margin-bottom: 5px;
}
.head-content__subtitle {
    font-size: 36px;
    color: #1B1B1B;
    font-weight: 500;
    margin-top: 5px;
}
.head-animation {
    width: 40%;
}
.animation {
    width: 100%;
}
.content {
    display: flex;
}
.projects-wrap {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #EDF6F9;
    display: flex;
}
.projects-wrap-bg {
    height: 100%;
}
.projects-title {
    text-transform: uppercase;
    color: #1B1B1B;
    font-size: 36px;
    font-weight: 500;
    height: 100%;
}
.projects-title:after{
    content: '';
    width: 1px;
    height: 100%;
    position: relative;
    display: block;
    background-color: #1B1B1B;
}
.cards-section {
    display: flex;
    align-items: center;
}
.card {
    margin-right: 100px;
    width: 40%;
}
.card-image {
    width: 60%;
}
.laptop-img {
    width: 100%;
}
.card-subtitle {
    font-size: 32px;
    font-weight: 700;
    color: #006D77;
}
.card-text {
    font-weight: 500;
    font-size: 18px;
    color: #1B1B1B;
    margin-top: 5px;
    margin-bottom: 5px;
}
.card-link-wrap {
    margin-top: 50px;
}
.card-link {
    text-decoration: none;
    color: #EDF6F9;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #006D77;
    padding: 13px 50px;
    border-radius: 50px;
    box-sizing: border-box;
}
.card-link:hover {
    opacity: 90%;
}
.extra-info {
    margin-top: 45px;
}
.CV {
    font-size: 14px;
    color: #1B1B1B;
    vertical-align: text-top;
}
.CV:after {
    content: url("img/Download.svg");
    position: absolute;
}
.CV:hover {
    color: #006D77;
}
.social-section {
    margin-top: 80px;
}
.title-social {
    color: #1B1B1B;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}
.social {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.social-in {
    text-decoration: none;
    width: 30px;
    height: 30px;
    background-image: url("img/linkedin.svg");
    margin-right: 25px;
}
.social-be {
    text-decoration: none;
    width: 30px;
    height: 30px;
    background-image: url("img/behance.svg");
    margin-right: 25px;
}
.social-git {
    text-decoration: none;
    width: 30px;
    height: 30px;
    background-image: url("img/github.svg");
    margin-right: 25px;
}
.social-gmail {
    text-decoration: none;
    width: 30px;
    height: 30px;
    background-image: url("img/email.svg");
}
.footer {
    margin-top: 70px;
}
.copyright {
    color: #1B1B1B;
    font-size: 14px;
    text-align: center;
    padding-bottom: 20px;
}
/* About me */

.about-section {
    display: flex;
    align-items: center;
    margin-top: 70px;
}
.about-section-img {
    width: 35%;
    margin-right: 40px;
}
.about-img {
    width: 100%;
    border-radius: 10px;
}
.about-content{
    width: 65%;
}
.about-text {
    font-size: 16px;
    line-height: 25px;
}
.experience-section {
    border-top: 1px solid #83C5BE;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.experience-group {
    display: flex;
    justify-content: space-between;
    width: 53%;
    margin-right: 30px;
}
.experience-group-1 {
    display: flex;
    justify-content: space-between;
    width: 38%;
}
.experience-1:nth-child(odd) {
    padding-right: 30px;
}
.experience {
    margin-right: 10px;
    margin-top: 20px;
}
.experience:nth-child(4n) {
    margin-right: 0;
}
.experience-title {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: #006D77;
}
.experience-subtitle {
    text-decoration: underline;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #1B1B1B;
}
.experience-subtitle:hover {
    color: #006D77;
}
.experience-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #1B1B1B;
    margin: 5px 0;
}
.experience-time {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #424242;
}
.experience-item {
    margin-top: 15px;
}
    /* SafeGarage */

.sg-overview-wrap {
    background: url("img/backg-head.svg") no-repeat;
    background-size: contain;
}
.sg-logo {
    text-align: center;
    padding-top: 40px;
}
.sg-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: #171717;
    padding-top: 50px;
    margin: 0;
}
.sg-overview-info {
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.sg-items {
    width: 60%;
    margin-right: 70px;
}
.sg-item {
    margin-bottom: 50px;
    display: flex;
}
.sg-item__img::before {
    content: '';
    display: block;
    width: 88px;
    height: 88px;
    background-image: url("img/marker.svg");
    margin-right: 15px;
}
.sg-item__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #171717;
    font-weight: 600;
    margin: 0;
}
.sg-item__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #171717;
    margin: 5px 0 0 0;
}
.sg-image {
    width: 320px;
}
.homepage-img {
    width: 100%;
}
.user-persona {
    margin-top: 50px;
}
.sg-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #171717;
}
.user-persona-img {
    margin-top: 70px;
}
.user-persona__img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #DFEBFF;
}
.sg-background {
    background: linear-gradient(133.33deg, rgba(223, 235, 255, 0.2) 39.3%, rgba(205, 207, 255, 0.2) 100%);
}
.wireframes {
    margin-top: 90px;
}
.wireframes-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.wireframes-item {
    width: 300px;
}
.wireframes-item:nth-of-type(even) {
    margin: 0 10px;
}
.wireframes-img {
    width: 100%;
}
.user-flow-wrap {
    margin-top: 50px;
}
.user-flow-img {
    padding: 60px 0;
}
.user-flow__img {
    width: 100%;
}
.lo-fi {
    margin-top: 50px;
}
.lo-fi-img {
    text-align: center;
    margin-top: 20px;
}
.lo-fi-img__img {
    width: 100%;
}
.usability {
    margin-top: 50px;
}
.usability-items {
    display: flex;
    justify-content: center;

}
.usability-item {
    max-width: 50%;
}
.usability-item:nth-of-type(odd) {
    margin-right: 20px;
}
.sg-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #171717;
    margin: 0;
}
.usability-item-wrap {
    background-color: #DFEBFF;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 8px;
}

.usability-item1 {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.usability-item1:nth-of-type(even){
    margin: 15px 0;
}
.usability-item1__marker {
    font-weight: 600;
    font-size: 22px;
}
.usability-item1__text {
    margin: 0;
    padding-left: 10px;
}
.mockups-bg {
    background: linear-gradient(133.33deg, rgba(223, 235, 255, 0.2) 39.3%, rgba(205, 207, 255, 0.2) 100%);
    margin-top: 130px;
}
.mockups {
    background-image: url("img/vector.svg");
}
.mockups-item-text {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.sg-item-mockups {
    display: flex;
    align-items: center;
    margin-right: 20px;
    width: 430px;
}
.wireframes-items-wrap {
    margin-top: 70px;
}
.type-color {
    margin-top: 50px;
}
.type-color-image {
    margin: 70px auto;
    max-width: 800px;
}
.type-color__img {
    width: 100%;
    padding-top: 20px;
}
.last-section {
    background: linear-gradient(133.33deg, rgba(223, 235, 255, 0.2) 39.3%, rgba(205, 207, 255, 0.2) 100%);
}
.last-section-wrap {
    max-width: 920px;
    text-align: center;
    padding: 60px 30px;
    box-sizing: border-box;
    margin: auto;
}
.conclusion {
    width: 100%;
}

/* NewLife */

.nl-content-bg {
    background-color: #F0F6FF;
}
.nl-logo {
    text-align: center;
    padding-top: 40px;
}
.nl-logo__img {
    width: 150px;
}
.nl-main-img {
    width: 80%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.nl-main-img-left {
    width: 80%;
    margin-right: 20px;
}
.nl-main-img-right {
    width: 20%;
}
.nl-main-img__img {
    width: 100%;
}
.nl-overview-info {
    margin-top: 70px;
    display: flex;
    align-items: center;
}
.nl-items {
    width: 60%;
    margin-right: 70px;
}
.nl-item {
    display: flex;
    margin-bottom: 20px;
}
.nl-item__img::before {
    content: '';
    display: block;
    width: 70px;
    height: 70px;
    background-image: url("img/NL-marker.svg");
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}
.nl-image {
    width: 30%;
}
.nl-item__title {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
}
.nl-item__text {
    margin: 0;
    padding-top: 5px;
    line-height: 24px;
}
.nl-overview-info-reverse {
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.nl-image-rev {
    width: 50%;
    margin-right: 30px;
}
.nl-items-rev {
    width: 50%;
}
.nl-background {
    background: #F0F6FF;
}
.wireframes-items-nl {
    padding-bottom: 40px;
}
.nl-title {
    color: #1B59C6;
    font-size: 36px;
    margin: 0;
    padding-top: 50px;
}
.research {
    margin-top: 30px;
}
.research-items {
    display: flex;
    justify-content: space-around;
    padding-bottom: 80px;
    padding-top: 40px;
}
.research-item {
    width: 50%;
    text-align: center;
    padding: 35px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #ffffff;
}
.research-item:nth-child(odd) {
    margin-right: 20px;
}
.research-subtitle {
    margin: 0;
    font-size: 20px;
}
.NL-mockups__subtitle {
    font-size: 20px;
    font-weight: 600;
    color: #1B59C6;
    margin: 30px 0;
}
.NL-mockups-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mockups-item {
    width: 80%;
    margin-bottom: 40px;
}
.mockups-item__img {
    width: 100%;
}
.NL-mockups-bg {
    position: absolute;
    background-color: #F0F6FF;
    height: 45%;
    width: 100%;
    top: 550px;
}
.NL-mockups-desktop {
    position: relative;
}
.NL-mockups-des {
    position: relative;
}
.sitemap {
    margin-bottom: 40px;
}
.sitemap-image {
    width: 100%;
}
.sitemap-image__img {
    width: 100%;
    background-size: contain;
}

@media (max-width: 980px) {
    .logo {
        width: 90px;
    }
    .head {
        margin-bottom: 90px;
    }
    .menu-link {
        font-size: 16px;
    }
    .head-content__title {
        font-size: 28px;
    }
    .head-content__subtitle {
        font-size: 28px;
    }
    .card-subtitle {
        font-size: 28px;
    }
    .about-section {
        align-items: flex-start;
    }
    .about-text {
        margin-top: 0;
    }
    .experience-section {
        flex-wrap: wrap;
        justify-content: center;
    }
    .experience-group {
        width: 470px;
        margin-right: 5px;
    }
    .experience-group-1 {
        width: 470px;
        margin-top: 30px;
        margin-right: 5px;
    }
    .experience-1 {
        width: 235px;
    }
    .experience-title {
        font-size: 16px;
    }
    .experience-subtitle {
        font-size: 14px;
    }
    .experience-text {
        font-size: 14px;
    }
    .extra-info {
        text-align: center;
    }

}
@media (max-width: 750px) {
    .head-wrap {
        margin-bottom: 90px;
    }
    .logo {
        width: 70px;
    }
    .head-content__title {
        font-size: 22px;
    }
    .head-content__subtitle {
        font-size: 22px;
    }
    .card {
        margin-right: 40px;
    }
    .card-subtitle {
        font-size: 22px;
        margin-top: 5px;
    }
    .card-text {
        font-size: 14px;
    }
    .card-link-wrap {
        margin-top: 35px;
    }
    .card-link {
        padding: 12px 36px;
        font-size: 12px;
    }
    .title-social {
        font-size: 16px;
    }
    .about-section {
        display: block;
        margin-top: 20px;
    }
    .about-section-img {
        margin: 0 auto;
        width: 50%;
    }
    .about-content {
        width: 100%;
        margin-top: 30px;
    }
    .menu-link {
        font-size: 14px;
    }
    .head-content__title {
        font-size: 18px;
    }
    .head-content__subtitle {
        font-size: 18px;
    }
    .card-subtitle {
        font-size: 18px;
    }
    .about-text {
        line-height: 22px;
    }
}
@media (max-width: 540px) {
    .head-bg1 {
        width: 48%;
    }
    .header_link {
        width: 70px;
    }
    .head {
        margin-bottom: 50px;
    }
    .head-wrap {
        margin-bottom: 35px;
    }
    .menu-link {
        padding-left: 20px;
        font-size: 14px;
    }
    .head-content {
        margin-top: 40px;
        flex-wrap: wrap;
    }
    .head-content__title {
        font-size: 18px;
    }
    .head-content__subtitle {
        font-size: 18px;
    }
    .head-content_text {
        width: 100%;
        margin-right: 0;
    }
    .head-animation {
        margin: 0 auto;
        width: 60%;
    }
    .projects-wrap {
        padding-bottom: 80px;
        padding-top: 80px;
    }
    .cards-section {
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-self: center;
    }
    .card {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
    .card-subtitle {
        font-size: 18px;
    }
    .about-text {
        line-height: 22px;
        font-size: 14px;
    }
    .social-in, .social-be, .social-git, .social-gmail {
        width: 24px;
        height: 24px;
        background-size: cover;
    }
    .experience-section {
        text-align: center;
    }
    .experience-group {
        width: 100%;
        flex-wrap: wrap;
    }
    .experience-group-1 {
        width: 100%;
        flex-wrap: wrap;
        margin-top: 0;
    }
    .experience-1:nth-child(odd) {
        padding-right: 0;
    }
    .experience-1 {
        width: 100%;
        margin-top: 20px;
    }
    .extra-info {
        margin-top: 30px;
    }
    .social-section {
        margin-top: 50px;
    }
}