html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    overflow-x: hidden;
}
.body-font {
    font-family: 'Quicksand', sans-serif;
}
.head-bg {
    position: absolute;
    height: 750px;
    overflow: hidden;
    width: 100%;
}
.head-bg1 {
    position: absolute;
    margin: 0;
    width: 48%;
}
.head-bg1_img {
    width: 100%;
}
.wrapper {
    position: relative;
}
.head {
    margin-bottom: 150px;
}
.head-wrap {
    margin-bottom: 150px;
}
.wrap {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}
.header {
    padding-top: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_link {
    width: 168px;
}
.menu-link {
    color: #1B1B1B;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding-left: 40px;
    text-decoration: none;
}
.menu-link:hover{
    color: #006D77;
    text-decoration: underline;
}
.head-content {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head-content_text {
    width: 60%;
    margin-right: 20px;
}
.head-content__title {
    font-size: 36px;
    color: #006D77;
    font-weight: 500;
    margin-bottom: 5px;
}
.head-content__subtitle {
    font-size: 36px;
    color: #1B1B1B;
    font-weight: 500;
    margin-top: 5px;
}
.head-animation {
    width: 40%;
}
.animation {
    width: 100%;
}
.content {
    display: flex;
    flex: auto;
}
.projects-wrap {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #EDF6F9;
    display: flex;
}
.projects-wrap-bg {
    height: 100%;
}
.projects-title {
    text-transform: uppercase;
    color: #1B1B1B;
    font-size: 36px;
    font-weight: 500;
    height: 100%;
}
.projects-title:after{
    content: '';
    width: 1px;
    height: 100%;
    position: relative;
    display: block;
    background-color: #1B1B1B;
}
.cards-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card {
    margin-right: 100px;
    width: 40%;
}
.card-image {
    width: 60%;
}
.laptop-img {
    width: 100%;
}
.card-subtitle {
    font-size: 32px;
    font-weight: 700;
    color: #006D77;
}
.card-text {
    font-weight: 500;
    font-size: 18px;
    color: #1B1B1B;
    margin-top: 5px;
    margin-bottom: 5px;
}
.card-link-wrap {
    margin-top: 50px;
}
.card-link {
    text-decoration: none;
    color: #EDF6F9;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #006D77;
    padding: 13px 50px;
    border-radius: 50px;
    box-sizing: border-box;
}
.card-link:hover {
    opacity: 90%;
}
.projects-wrap-behealth {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #FFF;
    display: flex;
}
.card-behealth {
    margin-right: 100px;
    width: 50%;
}
.card-image-behealth {
    width: 30%;
}
.behealth-image {
    width: 100%;
}
.extra-info {
    margin-top: 45px;
}
.CV {
    font-size: 14px;
    color: #1B1B1B;
    vertical-align: text-top;
}
.CV:after {
    content: url("img/Download.svg");
    position: absolute;
}
.CV:hover {
    color: #006D77;
}
.social-section {
    margin-top: 80px;
}
.title-social {
    color: #1B1B1B;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}
.social {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.social-in {
    text-decoration: none;
    width: 30px;
    height: 30px;
    background-image: url("img/linkedin.svg");
    margin-right: 25px;
}
.social-be {
    text-decoration: none;
    width: 30px;
    height: 30px;
    background-image: url("img/behance.svg");
    margin-right: 25px;
}
.social-git {
    text-decoration: none;
    width: 30px;
    height: 30px;
    background-image: url("img/github.svg");
    margin-right: 25px;
}
.social-gmail {
    text-decoration: none;
    width: 30px;
    height: 30px;
    background-image: url("img/email.svg");
}
.footer {
    margin-top: 70px;
}
.copyright {
    color: #1B1B1B;
    font-size: 14px;
    text-align: center;
    padding-bottom: 20px;
}
/* About me */

.about-section {
    display: flex;
    align-items: center;
    margin-top: 70px;
}
.about-section-img {
    width: 35%;
    margin-right: 40px;
}
.about-img {
    width: 100%;
    border-radius: 10px;
}
.about-content{
    width: 65%;
}
.about-text {
    font-size: 16px;
    line-height: 25px;
}
.experience-section {
    border-top: 1px solid #83C5BE;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.experience-group {
    display: flex;
    justify-content: space-between;
    width: 53%;
    margin-right: 30px;
}
.experience-group-1 {
    display: flex;
    justify-content: space-between;
    width: 38%;
}
.experience-1:nth-child(odd) {
    padding-right: 30px;
}
.experience {
    margin-right: 10px;
    margin-top: 20px;
}
.experience:nth-child(4n) {
    margin-right: 0;
}
.experience-title {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: #006D77;
}
.experience-subtitle {
    text-decoration: underline;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #1B1B1B;
}
.experience-subtitle:hover {
    color: #006D77;
}
.experience-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #1B1B1B;
    margin: 5px 0;
}
.experience-time {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #424242;
}
.experience-item {
    margin-top: 15px;
}

    /* MIRROR */

.m-name-title {
    font-weight: 500;
    font-size: 36px;
    color: #1B1B1B;
    margin-top: 10px;
    margin-bottom: 10px;
}
.m-title-text {
    font-weight: 400;
    font-size: 24px;
    color: #1B1B1B;
    margin-top: 5px;
    margin-bottom: 5px;
}
.m-head {
    display: flex;
    margin-top: 80px;
    align-items: center;
}
.m-head-text {
    width: 50%;
}
.m-head-group {
    margin-top: 50px;
}
.m-head-info {
    display: flex;
    margin-bottom: 10px;
}
.m-info-title {
    font-weight: 500;
    font-size: 18px;
    color: #1B1B1B;
    margin: 0;
}
.m-info-text {
    font-weight: 400;
    font-size: 18px;
    color: #1B1B1B;
    padding-left: 5px;
    margin: 0;
}
.m-head-image {
    width: 50%;
}
.m-head-img {
    width: 100%;
}
.m-block {
    margin-top: 90px;
}
.m-title {
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #1B1B1B;
}
.m-item {
    margin-top: 35px;
}
.m-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1B1B;
    margin: 10px 0 0 0;
}
.m-subtitle {
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #1B1B1B;
    margin: 12px 0;
}
.m-list-items {
    padding-left: 17px;
    margin-top: 5px;
}
.m-list-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1B1B;
    margin-bottom: 5px;
}
.m-process-title {
    padding: 0;
    font-weight: 600;
    font-size: 18px;
    color: #1B1B1B;
    margin-bottom: 10px;
}
.m-process-group {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.m-process-items {
    margin-right: 10px;
}
.m-process-items:nth-child(5n) {
    margin-right: 0;
}
.m-process-item {
    list-style: none;
    font-weight: 400;
    font-size: 18px;
    color: #1B1B1B;
}
.m-block-item {
    margin-top: 50px;
}
.m-subtitle-1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #1B1B1B;
}
.m-empathize-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
    color: #1B1B1B;
}
.m-indirect {
    width: 75%;
    margin: 0 auto;
}
.m-empathize-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.m-img {
    width: 100%;
}
.m-empathize-text {
    margin-right: 10px;
}
.m-empathize-group {
    margin-top: 30px;
}
.m-empathize-img {
    width: 50%;
}
.m-block-bg {
    position: relative;
}
.m-bg {
    position: absolute;
    background-color: #EED6C4;
    height: 700px;
    z-index: -1;
    width: 100%;
    top: 20%;
}
.m-bg2 {
    position: absolute;
    background-color: #EED6C4;
    height: 300px;
    z-index: -1;
    width: 100%;
    bottom: 8%;
}
.m-hifi {
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: space-between;
}
.m-hifi-text {
    font-weight: 400;
    font-size: 18px;
    margin-right: 30px;
    color: #483434;
    width: 15%;
}
.m-hifi-des {
    margin-left: 10px;
    width: 30%;
}
.m-hifi-mob {
    margin-left: 10px;
    width: 12%;
}
.m-test-column {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.m-test-text. {
    margin-right: 20px;
}
.m-btn {
    background-color: #483434;
    color: #FFF3E4;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 5px;
    display: block;
    text-decoration: none;
    margin-top: 20px;
}
.m-btn:hover {
    opacity: 90%;
}
.m-test-img {
    width: 60%;
}
.m-test-participant {
    margin-top: 30px;
}


/* BE health */
.b-head {
    display: flex;
    margin-top: 80px;
    align-items: center;
}
.behealth-head-text {
    width: 65%;
}
.behealth-head-image {
    width: 30%;
}
.behealth-block {
    padding-top: 5px;
    padding-bottom: 30px;
    background-color: #EEFAF9;
    margin-top: 50px;
}
.behealth-block-item {
    margin-top: 20px;
    margin-bottom: 20px;
}
.behealth-block-image {
    margin-top: 20px;
    margin-bottom: 20px;
}
.behealth-block-title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
    color: #1B1B1B;
}
.behealth-block-images {
    display: flex;
    align-items: center;
    padding: 60px 0;
    justify-content: space-between;
}
.b-img {
    width: 40%;
}
.b-img:nth-child(2) {
    width: 40%;
    margin-left: 50px;
}
.behealth-block-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.behealth-block-text {
    width: 60%;
    margin-right: 20px;
}
.prototype-btn {
    margin-top: 50px;
}
.prototype-link:hover {
    opacity: 90%;
}
.hifi-wireframes {
    margin-top: 30px;
}
.hifi-wireframes-item-l, .hifi-wireframes-item-r {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.hifi-text-l {
    width: 40%;
    margin-right: 20px;
}
.hifi-title-group {
    display: flex;
    align-items: end;
    font-weight: 500;
    font-size: 18px;
    color: #515151
}
.hifi-title {
    text-transform: capitalize;
}
.hifi-text-group {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #262626;
}
.hifi-text-group-item {
    margin-bottom: 10px;
}
.hifi-image {
    width: 60%;
}
.hifi-image-item {
    width: 100%;
    border: 4px solid #8BA7DF;
    border-radius: 5px;
}
.hifi-text-r {
    width: 40%;
    margin-left: 70px;
}
.hifi-title-group-center {
    display: flex;
    align-items: end;
    font-weight: 500;
    font-size: 18px;
    color: #515151;
    justify-content: center;
}
.hifi-group-item {
    margin-top: 20px;
    display: flex;
}
.hifi-group-images {
    width: 50%;
    border: 4px solid #8BA7DF;
    border-radius: 5px;
}
.hifi-group-images:nth-of-type(odd) {
    margin-right: 20px;
}
.hefi-group-img {
    width: 100%;
}
.hifi-mobile {
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.hifi-mobile-item {
    width: 25%;
    margin-right: 20px;
}
.hifi-mobile-item:nth-child(4){
    margin-right: 0;
}
.hifi-mobile-img {
    width: 100%;
    border: 4px solid #8BA7DF;
    border-radius: 5px;
}

@media (min-width: 1600px) {
    .head-wrap {
        height: 65vh;
    }
}
@media (max-width: 980px) {
    .logo {
        width: 90px;
    }
    .head {
        margin-bottom: 90px;
    }
    .menu-link {
        font-size: 16px;
    }
    .head-content__title {
        font-size: 28px;
    }
    .head-content__subtitle {
        font-size: 28px;
    }
    .card-subtitle {
        font-size: 28px;
    }
    .about-section {
        align-items: flex-start;
    }
    .about-text {
        margin-top: 0;
    }
    .experience-section {
        flex-wrap: wrap;
        justify-content: center;
    }
    .experience-group {
        width: 470px;
        margin-right: 5px;
    }
    .experience-group-1 {
        width: 470px;
        margin-top: 30px;
        margin-right: 5px;
    }
    .experience-1 {
        width: 235px;
    }
    .experience-title {
        font-size: 16px;
    }
    .experience-subtitle {
        font-size: 14px;
    }
    .experience-text {
        font-size: 14px;
    }
    .extra-info {
        text-align: center;
    }
    /* MIRROR */
    .m-name-title {
        font-size: 24px;
    }
    .m-title-text {
        font-size: 18px;
    }
    .m-head-group {
        margin-top: 30px;
    }
    .m-block {
        margin-top: 60px;
    }
    .m-block-item {
        margin-top: 30px;
    }
    .m-subtitle-1 {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .m-empathize-column {
        margin-top: 0;
    }

    /* Be healthy */

    .behealth-block-items {
        flex-direction: column;
        align-items: flex-start;
    }
    .behealth-block-text {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .m-head-image {
        margin: 0 auto;
    }
    .hifi-text-image {
        width: 50px;
    }
    .hifi-text-img {
        width: 100%;
    }
    .hifi-title {
        font-size: 16px;
    }

}
@media (max-width: 750px) {
    .head-wrap {
        margin-bottom: 90px;
    }
    .logo {
        width: 70px;
    }
    .head-content__title {
        font-size: 22px;
    }
    .head-content__subtitle {
        font-size: 22px;
    }
    .card {
        margin-right: 40px;
    }
    .card-behealth{
        margin-right: 40px;
    }
    .card-subtitle {
        font-size: 22px;
        margin-top: 5px;
    }
    .card-text {
        font-size: 14px;
    }
    .card-link-wrap {
        margin-top: 35px;
    }
    .card-link {
        padding: 12px 36px;
        font-size: 12px;
    }
    .title-social {
        font-size: 16px;
    }
    .about-section {
        display: block;
        margin-top: 20px;
    }
    .about-section-img {
        margin: 0 auto;
        width: 50%;
    }
    .about-content {
        width: 100%;
        margin-top: 30px;
    }
    .menu-link {
        font-size: 14px;
    }
    .head-content__title {
        font-size: 18px;
    }
    .head-content__subtitle {
        font-size: 18px;
    }
    .card-subtitle {
        font-size: 18px;
    }
    .about-text {
        line-height: 22px;
    }

    /* MIRROR */
    .m-head {
        margin-top: 50px;
        flex-direction: column;
    }
    .m-head-text {
        width: 100%;
    }
    .m-name-title {
        font-size: 20px;
    }
    .m-title-text {
        font-size: 16px;
    }
    .m-info-title {
        font-size: 16px;
    }
    .m-info-text {
        font-size: 16px;
    }
    .m-head-image {
        width: 80%;
        margin-top: 15px;
    }
    .m-block {
        margin-top: 30px;
    }
    .m-title {
        font-size: 18px;
    }
    .m-subtitle {
        font-size: 16px;
    }
    .m-process-title {
        margin-top: 5px;
    }
    .m-text {
        line-height: 21px;
    }
    .m-process-group {
        flex-wrap: wrap;
        justify-content: center;
    }
    .m-process-items {
        width: 204px;
        margin-bottom: 40px;
    }
    .m-subtitle-1 {
        font-size: 16px;
    }
    .m-empathize-title {
        font-size: 16px;
    }
    .m-empathize-img {
        display: none;
    }
    .m-bg2 {
        bottom: 6%;
    }
    .m-hifi {
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
    }
    .m-hifi-text {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }
    .m-hifi-des {
        width: 310px;
        margin-bottom: 10px;
    }
    .m-hifi-mob {
        width: 190px;
        margin-bottom: 10px;
    }
    .m-test-column {
        flex-wrap: wrap;
        justify-content: center;
    }
    .m-test-img {
        width: 100%;
        margin-top: 20px;
    }
    .prototype-img {
        display: none;
    }

    /* Be healthy */

    .behealth-block-title {
        font-size: 16px;
    }
    .hifi-wireframes-item-l {
        flex-direction: column;
    }
    .hifi-wireframes-item-r {
        flex-direction: column-reverse;
    }
    .hifi-text-l,.hifi-text-r {
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .hifi-image {
        width: 90%;
    }
    .hifi-group-item {
        flex-direction: column;
        align-items: center;
    }
    .hifi-group-images {
        width: 90%;
    }
    .hifi-group-images:nth-of-type(odd) {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .hifi-mobile {
        flex-direction: column;
    }
    .hifi-mobile-item {
        width: 50%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}
@media (max-width: 540px) {
    .head-bg1 {
        width: 48%;
    }
    .header_link {
        width: 70px;
    }
    .head {
        margin-bottom: 50px;
    }
    .head-wrap {
        margin-bottom: 35px;
    }
    .menu-link {
        padding-left: 20px;
        font-size: 14px;
    }
    .head-content {
        margin-top: 40px;
        flex-wrap: wrap;
    }
    .head-content__title {
        font-size: 18px;
    }
    .head-content__subtitle {
        font-size: 18px;
    }
    .head-content_text {
        width: 100%;
        margin-right: 0;
    }
    .head-animation {
        margin: 0 auto;
        width: 60%;
    }
    .projects-wrap {
        padding-bottom: 80px;
        padding-top: 80px;
    }
    .projects-wrap-behealth {
        padding-bottom: 80px;
        padding-top: 80px;
    }
    .cards-section {
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-self: center;
    }
    .card {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
    .card-behealth {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
    .card-subtitle {
        font-size: 18px;
    }
    .about-text {
        line-height: 22px;
        font-size: 14px;
    }
    .social-in, .social-be, .social-git, .social-gmail {
        width: 24px;
        height: 24px;
        background-size: cover;
    }
    .experience-section {
        text-align: center;
    }
    .experience-group {
        width: 100%;
        flex-wrap: wrap;
    }
    .experience-group-1 {
        width: 100%;
        flex-wrap: wrap;
        margin-top: 0;
    }
    .experience-1:nth-child(odd) {
        padding-right: 0;
    }
    .experience-1 {
        width: 100%;
        margin-top: 20px;
    }
    .extra-info {
        margin-top: 30px;
    }
    .social-section {
        margin-top: 50px;
    }

    /* Be healthy */
    .b-head {
        flex-direction: column;
    }
    .behealth-head-text {
        width: 100%;
    }
    .behealth-head-image {
        width: 50%;
        margin-top: 20px;
    }
    .behealth-block-images {
        padding: 30px 0;
        flex-direction: column;
    }
    .b-img {
        width: 60%;
    }
    .b-img:nth-child(2) {
        width: 60%;
        margin-left: 0;
        margin-top: 20px;
    }
    .hifi-wireframes-item-l, .hifi-wireframes-item-r {
        margin-bottom: 20px;
    }
    .hifi-image {
        width: 100%;
    }
    .hifi-mobile-item {
        width: 70%;
    }
}